@import '../_variable';

.cv-main{
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'header header' 'personal details';
    grid-template-columns: 250px 1fr;
}





