@import '../_variable';

.cv-personal{
    padding: $main-gap;
    background-color: #eee;
    text-align: center;

    .cv-img{
        width: 100%;
        margin-top: $main-gap;
        margin-bottom: $main-gap;
        border-radius: 50%;
    }
}